*, ::before, ::after {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style-type: none;
  overflow: hidden;
}
li {
  float: left;
  width: 100vw;
  background-color:#333;
  display:flex;
  justify-content: center;
  
}
li a {
  display: inline;
  padding: 17px;
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  
}
li a:hover {
  background:rgba(255, 255, 255, 0.16);
}
.a1 {margin:0 6vh;}
.a1 {
  position: relative;
}
.a1:after,
.a1:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}
.a1:hover:after {
  width: 100%;
}

.a1{
  transition: all 2s;
}

a1:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}
a1:hover {
  color: #fff;
  z-index: 1;
}
a1:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}



h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.2rem;
  margin: 50px;
  text-shadow: 5px 3px 0 #000738;
}

body {
  background: #000119;
  color: white;
}

img {
  border: 2px solid #333;
  box-shadow: 0 2px 12px 5px #000738;
  margin: 10px;
}

.div {
  display: flex;
  align-items: center;
  margin: 5vw 5vw;
}
.txt {
  max-width: 50vw;
  text-align: justify;
  line-height: 30px;
}
h2 {
  text-align: center;
}

.img1{margin-left: 30px;}
.img2{margin-right: 30px;}
.img3{margin-left: 30px;}
.img4{margin-right: 30px;}
.img5{margin-left: 30px;}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 12vh;
  background:#333;
  text-align: center;
  color: white;
}
.pfoot {
  padding-top: 3vh;
}
footer a {
  color: white;
  text-decoration: none;
}
footer a:hover {
  background:rgba(255, 255, 255, 0.16);
}

.returnToTop {
  place-self:end;
  position:sticky;
  margin-left: 92vw;
  bottom:20px;
  margin-top:100vh;
  
  /* visual styling */
  text-decoration: none;
  padding: 10px;
  font-family: sans-serif;
  color: #fff;
  background: #000738;
  border-radius: 100px;
}
